*{

    box-sizing: border-box;
    
    
    
    }
    
    body {
    
    margin: 0;
    
    
    }
    
    nav {
    
    background-color: aqua;
    
    
    }
    
    
    
    